body {
    background-image: url("../assets/Wall.jpg");
    background-position: center;
    font-family: "Merriweather Sans", sans-serif;
    color: #f9f9f9;
    font-size: 22px;
}

.nav {
    background-color: #2b1b30;
    text-align: right;
    padding: 15px;
}

.nav a {
    color: #cac279;
    text-decoration: none;
    font-weight: bold;
    margin-left: 30px;
    font-family: Geneva, sans-serif;
    font-size: 18px;
}

.header Img {
    width: 100%;
    height: 370px;
}

h2 {
    color:rgb(207, 136, 79)
}

.content {
    background-color: #637594;
    margin: 20px;
    padding: 20px;
    margin-top: 40px;
}

.gallery {
    text-align: center;
    margin-top: 70px;
}

.videoSection {
    margin: 30px;
    padding: 50px;
    text-align: center;
}
.tableauSection {
    margin: 25px;
    padding: 25px;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 25px;
}

a {
    color: #de90b6;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.justify {
    text-align: justify;
}


.smallImg {
    width: 350px;
    margin: 10px;
    border: 2px solid #ffb6d9;
}
.tableauBox {
    padding-left: 55px;
}

.concept{
    background-image: url("../assets/Move.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px;
}
.concept h2 {
    color: white;
}
.concept p {
    color: white;
    margin-top: -125px;
}


